/*==========  Desktop First Method  ==========*/

@media only screen and (max-width: 1400px) {
  .main-content {
    margin-top: 0;
  }

  .main-content__title {
    margin: 0 auto;
  }

  .main-content__carousel {
    margin: 0 auto;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .main-content {
    padding-bottom: 50px;
  }

  .main-content__title {
    font-size: 30px;
  }

  .app-button {
    font-size: 23px;
    padding: 14px 0 14px 0;
    margin-top: 14px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .main-content__title {
    margin: 0 auto;
    font-size: 24px;
  }

  .main-content__carousel {
    margin: 0 auto;
  }

  .app-button {
    font-size: 18px;
    padding: 12px 0 12px 0;
    margin-top: 12px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .main-content__title {
    font-size: 24px;
  }

  .app-button {
    font-size: 16px;
    padding: 10px 0 10px 0;
    margin-top: 10px;
  }
}
